body {
  background-color: rgb(250, 240, 235);
  background-repeat: no-repeat;
  background-size: cover;
}

body, #email, #submit {
  font-family: 'Oswald', sans-serif;
}

#header {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
  background: rgb(240, 220, 209);
  box-shadow: 0 0 12px rgba(0,0,0, .5);

}

#header-img {
  max-width: 120px;
  width: 100%;
}

#nav-img-header {
  display: flex;
}

#nav-header {
  margin: auto 15px;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#nav-link-group {
  margin-right: 40px;
}

.nav-link , .footer-link{
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

#main, #form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  margin: 65px 400px;
}

#main-header , .flexbox-header-text {
  font-size: 30px;
  font-weight: 600;
}

#form {
  margin: 10px;
}

#email {
  padding: 4px 20px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 13px;
  transition: 1s;
}

#email:hover {
  border-color: rgb(229, 139, 2);
  transition: 1s;
}

#submit, .flexbox-group-button {
  margin: 10px;
  padding: 4px 13px;
  font-size: 18px;
  font-weight: 400;
  background-color: rgb(252, 183, 78);
  border-radius: 10px;
  transition: 1s;
}

#submit:hover {
  background-color: rgb(245, 151, 10);
  transition: 1s;
}

.flexbox-group-button:hover {
  background-color: rgb(245, 151, 10);
  transition: 1s;
}

.grid-img {
  width: 100%;
  min-width:50px;
  max-width: 80px;
}

.grid-group {
  display: grid;
  grid-template-rows: 30% 30% 30%;
  grid-template-columns: 10% 90% ;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.grid-header, .flexbox-block-header {
  font-size: 25px;
  font-weight: 700;
}

.grid-p, .flexbox-block-p  {
  font-size: 20px;
  font-weight: 600;
}

#video {
  margin-top: 70px;
  border-radius: 10px;
}

#flexbox-group, .flexbox-block {
  display: flex;
  width: 100%;
}

#flexbox-group{
  flex-direction: row;
  justify-content: space-evenly;
  margin: 70px auto 30px auto;
}

.flexbox-block {
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 3px;
  margin: 20px;
  border: solid;
  border-radius: 7px;
}

.flexbox-block-header {
  background-color: rgb(252, 183, 78);
  padding: 5px 10px;
  border-radius: 10px;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: rgb(240, 220, 209);
  margin: 20px 400px;
  padding: 10px;
  border-radius: 20px;
}

#footer-list-links, #footer-mark {
  padding: 0px 20px;
}

  #footer-list-links {
  display: flex;
  flex-direction: row;
}

#footer-mark {
  
}

@media {
  
}